@page "/medicineoverview"
@inject HttpClient Http
@using DucksNet.WebUI.Pages.Models;

<h3>Medicine Overview</h3>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    GetAllMedicine
                </button>
                <button class="btn btn-primary" onclick="@ReloadAllMedicine">
                    Reload
                </button>

            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @if (Medicines != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medicine Id</th>
                                <th>Medicine Name</th>
                                <th>Medicine Description</th>
                                <th>Medicine Price</th>
                                <th>Medicine DrugAdministration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var medicine in Medicines)
                            {
                                <tr>
                                    <td>@medicine.Id</td>
                                    <td>@medicine.Name</td>
                                    <td>@medicine.Description</td>
                                    <td>@medicine.Price</td>
                                    <td>@medicine.DrugAdministration</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p><em>No medicine found.</em></p>
                }

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Update Medicine
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@updateMedicineModel" OnValidSubmit="@HandleValidSubmitUpdate">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div>
                        <label for="IdMedicine">IdMedicine</label>
                        <InputText class="form-control" id="IdMedicine" @bind-Value="updateMedicineModel.MedicineId" />
                    </div>
                    <div>
                        <label for="Name">Name</label>
                        <InputText class="form-control" id="Surname" @bind-Value="updateMedicineModel.Name" />
                    </div>
                    <div>
                        <label for="Description">Description</label>
                        <InputText class="form-control" id="Description" @bind-Value="updateMedicineModel.Description" />
                    </div>
                    <div>
                        <label for="Price">Price</label>
                        <InputNumber class="form-control" id="Price" @bind-Value="updateMedicineModel.Price" />
                    </div>
                    <div>
                        <label for="DrugAdministration">DrugAdministration</label>
                        <InputText class="form-control" id="DrugAdministration" @bind-Value="updateMedicineModel.DrugAdministration" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>

                @code {
                    private UpdateMedicineModel updateMedicineModel = new();

                    private void HandleValidSubmitUpdate()
                    {
                        UpdateMedicine(updateMedicineModel.MedicineId, updateMedicineModel);
    
                    }
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Create Medicine
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@createMedicineModel" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div>
                        <label for="Name">Name</label>
                        <InputText class="form-control" id="Name" @bind-Value="createMedicineModel.Name" />
                    </div>
                    <div>
                        <label for="Description">Description</label>
                        <InputText class="form-control" id="Description" @bind-Value="createMedicineModel.Description" />
                    </div>
                    <div>
                        <label for="Price">Price</label>
                        <InputNumber class="form-control" id="Price" @bind-Value="createMedicineModel.Price"  />
                    </div>
                    <div>
                        <label for="DrugAdministration">DrugAdministration</label>
                        <InputText class="form-control" id="DrugAdministration" @bind-Value="createMedicineModel.DrugAdministration" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>

                @code {
                    private CreateMedicineModel createMedicineModel = new();

                    private void HandleValidSubmit()
                    {
                        CreateMedicine(createMedicineModel);
                    }
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    DeleteMedicine
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@deleteMedicineModel" OnValidSubmit="@HandleValidSubmitDelete">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label for="Medicine">MedicineId</label>
                        <InputText class="form-control" id="Medicine" @bind-Value="deleteMedicineModel.MedicineId" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-danger">Delete</button>
                </EditForm>

                @code {
                    private DeleteMedicineModel deleteMedicineModel = new();

                    private void HandleValidSubmitDelete()
                    {
                        DeleteMedicine(deleteMedicineModel.MedicineId);
                    }
                }
            </div>
        </div>
    </div>
</div>