@page "/treatmentoverview"
@inject HttpClient Http
@using DucksNet.WebUI.Pages.Models;

<h3>Treatment Overview</h3>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    GetAllTreatment
                </button>
                <button class="btn btn-primary" onclick="@ReloadAllTreatment">
                    Reload
                </button>

            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @if (Treatments != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Treatment Id</th>
                                <th>Treatment IdOwner</th>
                                <th>Treatment IdClient</th>
                                <th>Treatment IdClinic</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var trtm in Treatments)
                            {
                                <tr>
                                    <td>@trtm.ID</td>
                                    <td>@trtm.OwnerID</td>
                                    <td>@trtm.ClientID</td>
                                    <td>@trtm.ClinicID</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p><em>No treatment found.</em></p>
                }

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Update Treatment
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@updateTreatmentModel" OnValidSubmit="@HandleValidSubmitUpdate">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div>
                        <label for="IdTreatment">IdTreatment</label>
                        <InputText class="form-control" id="IdTreatment" @bind-Value="updateTreatmentModel.TreatmentId" />
                    </div>
                    <div>
                        <label for="IdOwner">IdOwner</label>
                        <InputText class="form-control" id="IdOwner" @bind-Value="updateTreatmentModel.OwnerId" />
                    </div>
                    <div>
                        <label for="IdClient">IdClient</label>
                        <InputText class="form-control" id="IdClient" @bind-Value="updateTreatmentModel.ClientId" />
                    </div>
                    <div>
                        <label for="IdClient">IdClinic</label>
                        <InputText class="form-control" id="IdClinic" @bind-Value="updateTreatmentModel.ClinicId" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>

                @code {
                    private UpdateTreatmentModel updateTreatmentModel = new();

                    private void HandleValidSubmitUpdate()
                    {
                        UpdateTreatment(updateTreatmentModel.TreatmentId, updateTreatmentModel);
                    }
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Create Treatment
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@createTreatmentModel" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label for="OwnerId">IdOwner</label>
                        <InputText class="form-control" id="OwnerId" @bind-Value="createTreatmentModel.OwnerId" />
                    </div>
                    <div>
                        <label for="ClientId">IdClient</label>
                        <InputText class="form-control" id="ClientId" @bind-Value="createTreatmentModel.ClientId" />
                    </div>
                    <div>
                        <label for="ClinicId">IdClinic</label>
                        <InputText class="form-control" id="ClinicId" @bind-Value="createTreatmentModel.ClinicId" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>

                @code {
                    private CreateTreatmentModel createTreatmentModel = new();

                    private void HandleValidSubmit()
                    {
                        CreateTreatment(createTreatmentModel);
                    }
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    DeleteTreatment
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <EditForm Model="@deleteTreatmentModel" OnValidSubmit="@HandleValidSubmitDelete">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label for="Treatment">TreatmentId</label>
                        <InputText class="form-control" id="Treatment" @bind-Value="deleteTreatmentModel.TreatmentId" />
                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-danger">Delete</button>
                </EditForm>

                @code {
                    private DeleteTreatmentModel deleteTreatmentModel = new();

                    private void HandleValidSubmitDelete()
                    {
                        DeleteTreatment(deleteTreatmentModel.TreatmentId);
                    }
                }
            </div>
        </div>
    </div>
</div>